@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #19a0d8; */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://www.intechnic.com/hs-fs/hubfs/Imported_Blog_Media/bgi_bangui-loubliee_n1-3.jpg?width=586&height=294&name=bgi_bangui-loubliee_n1-3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}
